<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		html {
			padding: 0 12px;
		}

		.jumbotron {
			padding: 5px;
		}
	</style>
</head>
<body>
	<div class="jumbotron">
		<h1>Big Hotel Chain</h1>
		<p>Be My Guest!</p>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<p class="panel-title">Thanks for your feedback.</p>
		</div>
		<div class="panel-body">
			<p>Your opinion is very important for us.</p>
		</div>
	</div>
</body>
</html>